<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-for</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<style>
</style>
<body>

<div id="app">

  <div>

    <button @click.once="addPerson">添加一个老六</button>

    <!-- 遍历数组 -->
    <ul>
      <!--<li v-for="(item,index) in persons" :key="index">-->
      <li v-for="(item,index) in persons" :key="item">
        {{item.id}}-{{item.name}}-{{item.age}}-{{item.sex}}-{{index}}
        <input type="text">
      </li>
    </ul>
  </div>

</div>

</body>
</html>
<script type="text/javascript">
  Vue.config.productionTip = false;

  const vm = new Vue({
    el: '#app',
    data: {
      persons:[
        {id:1,'name':'张三',age:18,sex:'男'},
        {id:2,'name':'李四',age:19,sex:'男'},
        {id:3,'name':'田七',age:20,sex:'男'}
      ]
    },
    methods:{
      addPerson(){
        let laoLiu = {id:4,'name':'老六',age:21,sex:'男'}
        this.persons.unshift(laoLiu)
      }
    }
  })


  /**
   *列表渲染
   * key的原理
   * key就是标识
   *    遍历列表时
   *    1.拿到数据
   *    2.生成虚拟DOM
   *    3.将虚拟DOM转为真实DOM
   *    4.用户添加数据
   *    5.将新数据生成虚拟DOM
   *    6.虚拟DOM对比算法对比DOM
   *
   *
   *
   * react vue的key的作用
   * 1.虚拟DOM中key的作用
   *     keu是虚拟DOM对象的标识，当状态中的数据发生改变时，Vue会根据【新数据】生成【新的虚拟DOM】，随后Vue进行【新虚拟DOM】与【旧虚拟DOM】的差异做比较，
   * 2.对比规则
   *  旧虚拟DOM中找到了与新虚拟DOM相同的Key,若新虚拟DOM中的数据没变。直接使用之前的真实DOM，若新的虚拟DOM中的内容变了，则生成新的真实DOM，最后替换掉页面的真实DOM.
   *  旧虚拟DOM中未找到与新虚拟DOM相同的key，则创建新的真实的DOM，随后渲染到页面
   *
   *  用index作为key可能会引发的问题
   *   若对数据进行逆序条件，逆序删除等破环顺序的操作，会产生没有必要的真实DOM更新，界面没问题，但效率低。如果结构中还包含输入类型DOM,会出现错误更新DOM，界面展示会出问题。
   *
   *
   *
   *
   *

   * */


</script>